<div class="tech-btm">
							<h4>Sign up to our newsletter</h4>
	<p>Technology, software and other blogs... </p>
							<form asp-controller="NewsLetter" asp-action="SubscribeMail"  method="post">
								<input type="email" placeholder="Email" required="" name="Mail">
								<input type="submit" value="Subscribe">
							</form>

						</div>