 
@{
    ViewData["Title"] = "BlogListExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Blog List Excel</h1>

<br />
<a href="/Admin/Blog/ExportStaticExcelBlogList" class="btn btn-primary">Download Excel</a>
@* <button class="btn btn-primary" onclick="DownloadExcelBlogList">Download Excel</button>
<script>
    function DownloadExcelBlogList(){
        wind.open("/Admin/Blog/ExportStaticExcelBlogList");
    }
</script>
 *@

