@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<EntityLayer.Concrete.Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Category`s List</h1>
<br />
<table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Category Name</th>
            <th>Make Negative</th>
            <th>Make Positive</th>
            <th>Edit</th>
        </tr>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.CategoryId</td>
                <td>@category.CategoryName</td>
                <td><a href="#" class="btn btn-danger">Make Negative</a></td>
                <td><a href="#" class="btn btn-warning">Make Positive </a></td>
                <td><a href="#" class="btn btn-success">Edit</a></td>
            </tr>


        }
</table>
<a href="/Admin/Category/AddCategory" class="btn btn-primary">Create New Category</a>
<br />
<br />
@Html.PagedListPager((IPagedList)Model,page=>Url.Action
                     ("Index",new{page}))

