<div class="row">
    <div class="col-lg-6">
        <div class="widget navy-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">DashBoard</h1>

                <h3 class="font-bold no-margins">
                    Core Blog
                </h3>
                <small>This is Area architectura for Admin. </small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget lazur-bg no-padding">
            <div class="p-m">

                <h1 class="m-xs">The Latest Blog</h1>
                <h2 class="font-bold no-margins">
                    @ViewBag.value1
                </h2>
                <a href="/Blog/Index/">All blogs</a>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart2"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget yellw-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">$ 50,992</h1>

                <h3 class="font-bold no-margins">
                    Blog Site Earnings
                </h3>
                <small>Product Recognition, Promo Codes, 
                    Advertisements, Agreements</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart3"></div>
            </div>
        </div>
    </div>
</div>