
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<h3>This is own page</h3>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Department</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Surayya</td>
        <td>Programmer</td>
    </tr>
</table>

