@using EntityLayer.Concrete
@model List<Message2>
@{
    ViewData["Title"] = "Inbox";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Writer`s inbox</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Subject</th>
        <th>Sender</th>
        <th>Date</th>
        <th>Open Message</th>
    </tr>
    @foreach (var message in Model)
    {
        <tr>
            <th>@message.MessageId</th>
            <td>@message.Subject</td>
            <td>@(((DateTime)message.MessageDate).ToString("dd-MMM-yyyy"))</td>
            <td>@message.SenderUser.WriterName</td>
            <td><a href="/Message/MessageDetails/@message.MessageId" class="btn btn-warning">Open Message</a></td>
        </tr>
    }
</table>

<a href="/Blog/BlogAdd" class="btn btn-primary">Add new message</a>

