@using EntityLayer.Concrete
@model List<AppUser>
@{
    ViewData["Title"] = "UserRoleList";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>User Role List</h1>
<table class="table table-bordered">
    <tr>
        <th>User</th>
        <th>Take Role</th>
    </tr>
    @foreach(var appUser in Model)
    {
        <tr>
            <td>@appUser.UserName</td>
            <td><a href="/Admin/AdminRole/AssignRole/@appUser.Id/" class="btn btn-outline-warning">Take Role</a></td>
        </tr>
    } 

</table>
<a href="/Admin/AdminRole/Index/" class="btn btn-primary">Return User Role List</a>


