@using EntityLayer.Concrete
@model List<Blog>

<div class="tech-btm">
	<h4>Other articles of the writer</h4>
	@foreach (var writer in Model)
	{
		<div class="blog-grids row mb-3">
			<div class="col-md-5 blog-grid-left">
				<a href="single.html">
					<img src="@writer.BlogImage" class="img-fluid" alt="">
				</a>
			</div>
			<div class="col-md-7 blog-grid-right">

				<h5>
					<a href="single.html">@writer.BlogTitle</a>
				</h5>
				<div class="sub-meta">
					<span>
						<i class="far fa-clock"></i> @(((DateTime)writer.BlogCreateDate).ToString("dd-MMM-yyyy"))
					</span>
				</div>
			</div>

		</div>
	}
</div>